# Node modules
frontend/node_modules/

# Build outputs
frontend/build/

# Logs...? add Flask logs and any logs applicaple here
*.log

# dependency related
venv/

# System specific files
.DS_Store
Thumbs.db

# Python cache
*.pyc
__pycache__/

# Environment variable files
.env

# the launch.json config file
.vscode/
