/*
This is my Global CSS style sheet. 
In comparision to using tailwind.config.js, this file is used to define global styles 
that are or one-off global styles or browser resets  OR not covered by Tailwind CSS 

*/

/* Tailwind CSS v2.0.2 | 
   these tailwind directives import the core styles components and utility classes into my project 
*/
@tailwind base; /*Imports Tailwind's base styles (e.g., resets and default browser styles).*/
@tailwind components; /*Imports pre-designed component classes (e.g., buttons, forms) that you can use or extend.*/
@tailwind utilities; /*Imports utility classes (e.g., text-center, bg-blue-500, etc.) for styling directly in your HTML/JSX.*/

/*fall back fonts for everything body and under.
  overwrite with tailwind utility classes etc..*/
body {
  margin: 0;
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased; /*This improves font rendering on WebKit browsers (e.g., Chrome, Safari).*/
  -moz-osx-font-smoothing: grayscale; /*This improves font rendering on macOS.*/
}

/*
This enables smooth scrolling when navigating to anchors (e.g., clicking sidebar links like #section1). 
It ensures a visually pleasing transition instead of an abrupt jump.
*/
html {
  scroll-behavior: smooth; /*smooth*/
}

/* @media (prefers-reduced-motion: reduce) {
  html {
      scroll-behavior: auto;
  }
} */

.written-content-centering-width {
  @apply max-w-2xl; /*Text in paragraph format should not have lines stretching a greater length than this for ease of reading*/
  @apply mx-auto;
}

.hr-custom {
  width: 95%;
  height: 2px;
}

.selected-nav-section-li-custom {
  @apply text-vibrant;
  @apply bg-vibrant;
  @apply bg-opacity-20;
  @apply pl-2;
  @apply mr-2;
  @apply rounded-r-md;
}

.nav-section-li-default {
  @apply px-2;
}

.nav-main-section-a {
  @apply inline-block;
  @apply ml-8;
  @apply mr-3;
  @apply p-2;
}

.nav-sub-section-a {
  @apply block;
  @apply ml-14;
  @apply mr-3;
  @apply py-1;
}

.selected-nav-main-section-a-custom {
  @apply inline-block;
  @apply text-vibrant;
  @apply bg-vibrant;
  @apply bg-opacity-20;
  @apply ml-8;
  @apply mr-3;
  @apply p-2;
  @apply rounded-md;
}

/*
px over REM can cause issues when changing root font size
take note of the order in which responsive breakpoints applied
*/
.reporting-tool-iframe {
  @apply mx-auto;
  @apply 4xs:max-h-[214px]; /* @apply 4xs:max-h-[214px]; */
  @apply 3xs:max-h-[217px];
  @apply 2xs:max-h-[282px];
  @apply xs:max-h-[318px];
  @apply sm:max-h-[354px];
  @apply md:max-h-[410px];
  @apply lg:max-h-[410px];
  @apply p-1 bg-white;
  @apply border-2 border-white rounded-2xl;
  @apply 4xs:max-w-[256px]; /* @apply 4xs:max-w-[298px]; */ /*143-234*/
  @apply 3xs:max-w-[332px];
  @apply 2xs:max-w-[448px]; /*max-w-md*/
  @apply xs:max-w-[512px]; /*max-w-lg*/
  @apply sm:max-w-[576px]; /*max-w-xl*/
  @apply md:max-w-[676px]; /*max-w-2xl*/
  @apply lg:max-w-[676px]; /*max-w-2xl*/
}

/* https://play.tailwindcss.com/2eBipAu8Bt  */
.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

/*
n8n CharlieBot CHATBOT custom START
*/

:root {
  /*3 central custom css vars*/
  --chat--color-light: #ecfdfe; /*redefined*/
  --chat--color-vibrant: #00c9c8; /*added*/
  --chat--color-secondary: #426b69; /*redefined*/

  --chat--color-primary: var(--chat--color-light);
  --chat--color-primary-shade-50: #db4061;
  --chat--color-primary-shade-100: #cf3c5c;
  --chat--color-secondary-shade-50: var(--chat--color-vibrant);
  --chat--color-white: var(--chat--color-light);
  --chat--color-light-shade-50: var(--chat--color-light);
  --chat--color-light-shade-100: var(--chat--color-light);
  --chat--color-medium: var(--chat--color-light);
  --chat--color-dark: var(--chat--color-secondary);

  --chat--body--background: rgba(0, 0, 0, 0.8);
  --chat--input--background: var(--chat--color-secondary);
  --chat--input--text-color: var(--chat--color-light);
  --chat--input--send--button--background: var(--chat--color-secondary);
  --chat--color-disabled: var(--chat--color-light);
  --chat--color-typing: var(--chat--color-secondary);

  --chat--window--width: 400px;
  --chat--window--height: 600px;

  --chat--header--background: var(--chat--color-secondary);
  --chat--message--bot--background: var(--chat--color-light);
  --chat--message--bot--color: var(--chat--color-secondary);
  --chat--message--bot--border: none;
  --chat--message--user--background: var(--chat--color-secondary);
  --chat--message--user--color: var(--chat--color-light);
  --chat--message--user--border: none;

  --chat--toggle--background: var(--chat--color-vibrant);
  --chat--toggle--color: var(--chat--color-light);
}

.chat-window {
  box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.3),
    0px -3px 2px 2px rgba(0, 0, 0, 0.3), -3px 0px 2px 2px rgba(0, 0, 0, 0.3);
}

/*
n8n CharlieBot CHATBOT custom END
*/
